[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-crispy-forms = "*"
pillow = "*"
celery = "*"
redis = "*"
discord = "*"
bs4 = "*"
psycopg2-binary = "*"
gunicorn = "*"
django-simple-captcha = "*"
selenium = "*"
webdriver-manager = "*"
flower = "*"

[dev-packages]
pylint = "*"
django-extensions = "*"

[requires]
python_version = "3"
