{% load static %}
<!DOCTYPE html>
<html>

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'main/main.css' %}">
    <title>Wilson and Friends</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">

            <div class="container">
                <a class="navbar-brand ml-4" href="/">WillyFriends</a>
                <div class="navbar-nav mr-auto">
                    <div class="navbar-nav mr-auto">
                        <li class="nav-item ">
                            <a class="nav-link" href="{% url 'main-home' %}">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'tutorial' %}">Tutorial</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="../" id="dropdown08" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tools</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown08">
                                <a class="dropdown-item" href="{% url 'course'%}">Course Tracking</a>
                            </div>
                        </li>
                        {% else %} {% endif %}
                    </div>
                </div>
                <div class="navbar-nav">
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item active">
                            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-12">
                {% if messages %} {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %} {% endif %} {% block content %}{% endblock %}
            </div>
        </div>

        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-6 col-md">
                    <h5>Source Code</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="https://github.com/Tu1026/djangoWebsite">GitHub</a></li>

                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Keep the server running!</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Donation Link</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                        <li>Server Host: Digital Ocean</a>
                        </li>
                        <li>WebFrame Work: Django</a>
                        </li>
                        <li>Task Backend: Python + Celery</a>
                        </li>
                        <li>Notificiton: Gmail + Discord</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </main>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>