{% extends "main/base.html" %}
{% block content %}
<main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Get Started!</h1>
          <p>Follow these simple steps to get started.</p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Join the discord server</h2>
            <p>The website informs you when spaces become available using discord. Therefore, you have to join the discord server <strong>"first"</strong> before you continue. This is also because you can only register for an account if you are in the discord server.</p>
            <p><a class="btn btn-secondary" href="https://discord.gg/c7vcXHFkha" role="button">Join Server »</a></p>
          </div>
          <div class="col-md-4">
            <h2>Get your discord name</h2>
            <p> You will need you discord name in the format of "name#1234" when registering for an account. 
            You can simply do this by going over to discord and click on your own username in the bottom left corner and your username will be copied
            automatically. In the example, my discord_id would be Pandaspy#8354</p>
            <p><a class="btn btn-secondary" href="../media/Discord_example.png" role="button">View Example »</a></p>
          </div>
          <div class="col-md-4">
            <h2>Regsiter for an account</h2>
            <p>You are all set now! You can sign up account with this website to start accessing all the tools. All the tools will be available and visible to you onced you have logged in
            You can access the tools in the "tools" drop down option in the navigation bar</p>
            <p><a class="btn btn-secondary" href="{% url 'register' %}" role="button">Register now! »</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>
{% endblock content %}
